
*{
    padding: 0;
    margin: 0;
   
}

body{
    background-color: black;
    font-family: monospace;
    color: black;
    /* width: 100%; */
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(9, 78, 68));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  #container{
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100px;
    color: white;
    background-color: transparent;
  }
  
  .element{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.114);
    width: 200px;
    box-sizing : border-box;
    padding: 30px;
    font-size: 23px;
    color: grey;
    border: none;
  /*   text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 10px;
    box-sizing: border-box; 
    transition: .3s;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.337);
    font-family: monospace;
  }
  
  #botcontainer{
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100px;
    color: white;
    background-color: transparent;
  }
  
  
  .botelement{
    border-radius: 10px;
    background-color: #ffffff1d;
    width: 200px;
    box-sizing : border-box;
    padding: 30px;
    font-size: 23px;
    color: grey;
    border: none;
  /*   text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 10px;
    box-sizing: border-box; 
    transition: .3s;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.337);
    font-family: monospace;
  }
  
  .element:hover{
    background-color: rgba(255, 255, 255, 0.152);
  }
  .botelement:hover{
    background-color: rgba(255, 255, 255, 0.152);
  }


  nav{
    display: flex;
    width: 100%;
    color: rgba(255, 255, 255, 0.684);
    height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.152);
    border-radius: 0px 0px 10px 10px;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.337);
    margin-bottom: 50px;
}

.result{
    width: 100%;
    min-height: 200px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resultdiv{
    margin: 10px 20px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.152);
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.69);
    text-transform: uppercase
}

.scorediv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.152);
    font-size: 15px;
    color: rgba(255, 255, 255, 0.69);
}


.verses{
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 20px auto;
    opacity: .6;
    color: white;
}

nav h1{
    background-color: #ffffff1d;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

